@import "./src/sass/base/_constants.scss";

.mod_text {
	@media screen and (min-width: $break-large) {
		width: 980px;
		margin: 60px auto 0 auto;
	}
}

.text__container {
	color: #262a35;
	font-size: 18px;
	line-height: 1.5;
	word-break: break-word;

	@media screen and (min-width: $break-large) {
		display: flex;
		justify-content: space-between;
	}
}

.text__header {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.text__left {
	margin-bottom: 30px;

	@media screen and (min-width: $break-large) {
		margin-bottom: 0;
		margin-right: 40px;
		flex-basis: 50%;
	}
}

.text__right {
	@media screen and (min-width: $break-large) {
		margin-left: 40px;
		flex-basis: 50%;
	}
}


